<div class="container">
  <div class="row">
    <h1 class="header">Home</h1>
  </div>
  <div class="row">
    <mat-card
      matTooltip="Click here to see your shopping lists."
      matTooltipShowDelay="1000"
      matTooltipPosition="left"
      class="home-card"
      routerLink="/lists"
      >Lists</mat-card
    >
  </div>
  <div class="row">
    <mat-card
      matTooltip="Click here to see all of your items in one place."
      matTooltipShowDelay="1000"
      matTooltipPosition="left"
      class="home-card"
      routerLink="/items"
      >Items</mat-card
    >
  </div>
  <div class="row">
    <mat-card
      matTooltip="Click here to manage your settings."
      matTooltipShowDelay="1000"
      matTooltipPosition="left"
      class="home-card"
      routerLink="/settings"
      >Settings</mat-card
    >
  </div>
</div>
