<div class="container">
  <div class="row">
    <h1 class="header">{{appName}} Home</h1>
  </div>
  <div class="row">
    <mat-card class="home-card" routerLink="/shop">Shop</mat-card>
  </div>
  <div class="row">
    <mat-card class="home-card" routerLink="/items">Items</mat-card>
  </div>
  <div class="row">
    <mat-card class="home-card" routerLink="/settings">Settings</mat-card>
  </div>
  <!-- Delete below. Testing for Firebase Functions -->
  <div class="row">
    <button mat-raised-button (click)="testFirebaseFunctions()">Test Firebase Functions</button>
  </div>
</div>
