.extra-padding
    padding-top: 66px

.bottom-padding
    padding-bottom: 60px
    margin: auto

.welcome-message
    padding-top: 100px
    margin: auto
    margin-bottom: -100px
    min-width: 450px

.center
    text-align: center

.log-out-btn
    margin-top: 10px
    width: auto

    &:hover
        transform: scale(1.05)
    
    &:active
        transform: scale(0.95)
.form-inputs
    display: flex
    justify-items: center
