.bottom-padding
    padding-bottom: 100px
    margin: auto

.welcome-message
    position: absolute
    width: auto
    display: flexbox
    top: 100px
    right: 30px
    justify-content: center

.center
    text-align: center

.log-out-btn
    margin-top: 10px
    width: auto

    &:hover
        transform: scale(1.05)

    &:active
        transform: scale(0.95)

.btn-div
    display: flex
    justify-content: center

.form-inputs
    display: flex
    justify-items: center

.hide-me
    visibility: hidden

.mat-progress-spinner
    position: absolute
    top: 50%
    left: 50%
    -moz-transform: translateX(-50%) translateY(-50%)
    -webkit-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)

.overlay
    height: 100vh
    width: 100%
    background-color: rgba(0, 0, 0, 0.501)
    z-index: 10
    top: 0
    left: 0
    position: fixed
