<app-navbar></app-navbar>
<div *ngIf="showWelcome" class="welcome-message">
  <div class="hello-msg">
    {{
      displayName.length
        ? "Welcome, " + displayName + "!"
        : "Please log in to continue."
    }}
  </div>
  <div class="btn-div">
    <button
      mat-raised-button
      class="log-out-btn"
      (click)="authService.SignOut()"
      [disabled]="!authService.isLoggedIn"
    >
      Sign Out
    </button>
  </div>
</div>

<div class="container bottom-padding">
  <router-outlet *ngIf="!isLoading"></router-outlet>
</div>
<app-footer></app-footer>
