<div class="row">
  <div class="col">
    <button
      matTooltip="{{
        listItem.strikethrough
          ? 'Click here to remove ' + listItem.name + ' from your cart'
          : 'Click here to add ' + listItem.name + ' to your cart'
      }}"
      matTooltipPosition="left"
      matTooltipShowDelay="1000"
      mat-mini-fab
      color="{{ listItem.strikethrough ? 'warn' : 'primary' }}"
      (click)="strikethrough()"
      (click)="togglePurchase()"
      class="item-fab"
    >
      <mat-icon>{{ listItem.strikethrough ? "close" : "check" }}</mat-icon>
    </button>
    <h2
      [ngClass]="listItem.strikethrough ? 'strikethrough' : ''"
      class="item-text"
    >
      {{ listItem.name }}
    </h2>
  </div>
</div>
